In [1]:
from classes import ethData, models
import pandas as pd
import pandasql as psql
import numpy as np
ethData = ethData.ethData()
ETHERSCAN_API_KEY = 'EWYSGQ5PEK84PRCNSCKHHZWJIWWKYYABCE'

In [2]:
transactionsFromUsersDex = pd.read_csv('export/_old/CUSTOMERS_TRANSACTIONS_FROM_DEX.csv')
transactionsFromUsersDex.set_index(transactionsFromUsersDex['from'])
customerList = pd.read_csv('export/_old/CUSTOMERS_LIST_FROM_DEX.csv')
customerList.rename(columns={'from':'fromAddress'}, inplace=True)

In [3]:
transactionsFromUsersDex.rename(columns={'from':'fromAddress'}, inplace=True)
transactionsFromUsersDex.rename(columns={'to':'toAddress'}, inplace=True)

In [4]:
transactionsFromUsersDex

,Unnamed: 0,blockNumber,timeStamp,fromAddress,toAddress,value,gas,gasPrice
0,0,12377148,1620255921,0x5ef4061383b24ce557bee8a06fb08899ca9bd7ce,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,86000000000000000,163577,46000000000
1,1,12377118,1620255589,0x46340b20830761efd32832a74d7169b29feb9758,0x5ef4061383b24ce557bee8a06fb08899ca9bd7ce,96000000000000000,300000,54000000000
2,0,12377148,1620255921,0xbab8b43008b4573df81b2ab8d9f044a2770e6fe4,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,30198850000000000,139703,46200000000
3,1,12374686,1620224190,0xbab8b43008b4573df81b2ab8d9f044a2770e6fe4,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,90000000000000000,139703,61710000000
4,2,12373825,1620212473,0x4c20d6c790dcd8474df3ec22dd199ff03e0fcd7d,0xbab8b43008b4573df81b2ab8d9f044a2770e6fe4,133800000000000000,200000,41000000000
...,...,...,...,...,...,...,...,...
5937824,83,8022588,1561404230,0x77876c36fe1c640f0dacb51b9374f89e3d291720,0x017f71adb7883654b02874c807cc756f0fab9964,100000000000000000,21000,20000000000
5937825,156,8017759,1561339288,0x77876c36fe1c640f0dacb51b9374f89e3d291720,0x017f71adb7883654b02874c807cc756f0fab9964,100000000000000000,21000,20000000000
5937826,158,8017712,1561338700,0x77876c36fe1c640f0dacb51b9374f89e3d291720,0x017f71adb7883654b02874c807cc756f0fab9964,1000000000000000,21000,20000000000
5937827,164,8017637,1561337823,0x77876c36fe1c640f0dacb51b9374f89e3d291720,0x017f71adb7883654b02874c807cc756f0fab9964,50000000000000000,21000,20000000000
5937828,170,8012949,1561274571,0x77876c36fe1c640f0dacb51b9374f89e3d291720,0x017f71adb7883654b02874c807cc756f0fab9964,50000000000000000,21000,20000000000

In [5]:
transactionsFromUsersDex['fromAddress'] = transactionsFromUsersDex['fromAddress'].str.upper()
transactionsFromUsersDex['toAddress'] = transactionsFromUsersDex['toAddress'].str.upper()

In [6]:
transactionsFromUsersDex

,Unnamed: 0,blockNumber,timeStamp,fromAddress,toAddress,value,gas,gasPrice
0,0,12377148,1620255921,0X5EF4061383B24CE557BEE8A06FB08899CA9BD7CE,0X7A250D5630B4CF539739DF2C5DACB4C659F2488D,86000000000000000,163577,46000000000
1,1,12377118,1620255589,0X46340B20830761EFD32832A74D7169B29FEB9758,0X5EF4061383B24CE557BEE8A06FB08899CA9BD7CE,96000000000000000,300000,54000000000
2,0,12377148,1620255921,0XBAB8B43008B4573DF81B2AB8D9F044A2770E6FE4,0X7A250D5630B4CF539739DF2C5DACB4C659F2488D,30198850000000000,139703,46200000000
3,1,12374686,1620224190,0XBAB8B43008B4573DF81B2AB8D9F044A2770E6FE4,0X7A250D5630B4CF539739DF2C5DACB4C659F2488D,90000000000000000,139703,61710000000
4,2,12373825,1620212473,0X4C20D6C790DCD8474DF3EC22DD199FF03E0FCD7D,0XBAB8B43008B4573DF81B2AB8D9F044A2770E6FE4,133800000000000000,200000,41000000000
...,...,...,...,...,...,...,...,...
5937824,83,8022588,1561404230,0X77876C36FE1C640F0DACB51B9374F89E3D291720,0X017F71ADB7883654B02874C807CC756F0FAB9964,100000000000000000,21000,20000000000
5937825,156,8017759,1561339288,0X77876C36FE1C640F0DACB51B9374F89E3D291720,0X017F71ADB7883654B02874C807CC756F0FAB9964,100000000000000000,21000,20000000000
5937826,158,8017712,1561338700,0X77876C36FE1C640F0DACB51B9374F89E3D291720,0X017F71ADB7883654B02874C807CC756F0FAB9964,1000000000000000,21000,20000000000
5937827,164,8017637,1561337823,0X77876C36FE1C640F0DACB51B9374F89E3D291720,0X017F71ADB7883654B02874C807CC756F0FAB9964,50000000000000000,21000,20000000000
5937828,170,8012949,1561274571,0X77876C36FE1C640F0DACB51B9374F89E3D291720,0X017F71ADB7883654B02874C807CC756F0FAB9964,50000000000000000,21000,20000000000

In [7]:
address = []
name = []
for index in range(0, ethData.getContractAddressMap(-1)[2]):
    dex = ethData.getContractAddressMap(index)
    address.append(dex[1].upper())
    name.append(dex[0].upper())

In [8]:
dfDex = pd.DataFrame({'DEX_Address' : address, 'DEX_Name' : name})

In [9]:
dfDex

                                  DEX_Address             DEX_Name
0  0X7A250D5630B4CF539739DF2C5DACB4C659F2488D              UNISWAP
1  0X111111111117DC0AA78B770FA6A738034120C302             ONE_INCH
2  0XBA100000625A3754423978A60C9317C58A424E3D             BALANCER
3  0X27054B13B1B798B345B591A4D22E6562D47EA75A              AIRSWAP
4  0X3F5CE5FBFE3E9AF3971DD833D26BA9B5C936F0BE              BINANCE
5  0X3FDA67F7583380E67EF93072294A7FAC882FD7E7             COMPOUND
6  0XFF6B1CDFD2D3E37977D7938AA06B6D89D6675E27              ALLBIT2
7  0XCB039D11FD38167DE19536453A105271A5E44392  PANCAKESWAP_FINANCE

In [19]:
sql = "Select a.*, b.fromAddress as r_fromAddress From transactionsFromUsersDex a Left Join customerList b on a.fromAddress = b.fromAddress"
df = psql.sqldf(sql)
sql = 'Select *, case when r_fromAddress IS NULL then 1 else -1 end as IN_OUT from df'
#sql = 'Select * from df where LENGTH(r_fromAddress) > 0'
df = psql.sqldf(sql)
dexList = []
caseWhenStatement_IN = []
caseWhenStatement_OUT = []
sumCaseWhenStatement = []
for dexIndex in range(0, ethData.getNumberContractAddressMap() + 1):
    name = ethData.getContractAddressMap(dexIndex)[0]
    address = ethData.getContractAddressMap(dexIndex)[1]
    df[name + '_IN'] = np.where(df['fromAddress'] == address.upper(), True, False)
    dexList.append(name + '_IN')
    df[name + '_OUT'] = np.where(df['toAddress'] == address.upper(), True, False)
    dexList.append(name + '_OUT')
    caseWhenStatement_IN.append("WHEN {0} = 1 THEN '{0}'".format(name + '_IN'))
    caseWhenStatement_OUT.append("WHEN {0} = 1 THEN '{0}'".format(name + '_OUT'))
    sumCaseWhenStatement.append("SUM(CASE WHEN {0} = 1 THEN 1 ELSE 0 END) AS SUM_{0}, SUM(CASE WHEN {1} = 1 THEN 1 ELSE 0 END) AS SUM_{1}".format(name + '_IN', name + '_OUT'))
dexList = ", ".join(dexList)
caseWhenStatement_IN = " ".join(caseWhenStatement_IN)
caseWhenStatement_OUT = " ".join(caseWhenStatement_OUT)
sumCaseWhenStatement = ", ".join(sumCaseWhenStatement)

In [26]:
df

,Unnamed: 0,blockNumber,timeStamp,fromAddress,toAddress,value,gas,gasPrice,r_fromAddress,IN_OUT,...,AIRSWAP_IN,AIRSWAP_OUT,BINANCE_IN,BINANCE_OUT,COMPOUND_IN,COMPOUND_OUT,ALLBIT2_IN,ALLBIT2_OUT,PANCAKESWAP_FINANCE_IN,PANCAKESWAP_FINANCE_OUT
0,0,12377148,1620255921,0X5EF4061383B24CE557BEE8A06FB08899CA9BD7CE,0X7A250D5630B4CF539739DF2C5DACB4C659F2488D,86000000000000000,163577,46000000000,None,IN,...,False,False,False,False,False,False,False,False,False,False
1,1,12377118,1620255589,0X46340B20830761EFD32832A74D7169B29FEB9758,0X5EF4061383B24CE557BEE8A06FB08899CA9BD7CE,96000000000000000,300000,54000000000,None,IN,...,False,False,False,False,False,False,False,False,False,False
2,0,12377148,1620255921,0XBAB8B43008B4573DF81B2AB8D9F044A2770E6FE4,0X7A250D5630B4CF539739DF2C5DACB4C659F2488D,30198850000000000,139703,46200000000,None,IN,...,False,False,False,False,False,False,False,False,False,False
3,1,12374686,1620224190,0XBAB8B43008B4573DF81B2AB8D9F044A2770E6FE4,0X7A250D5630B4CF539739DF2C5DACB4C659F2488D,90000000000000000,139703,61710000000,None,IN,...,False,False,False,False,False,False,False,False,False,False
4,2,12373825,1620212473,0X4C20D6C790DCD8474DF3EC22DD199FF03E0FCD7D,0XBAB8B43008B4573DF81B2AB8D9F044A2770E6FE4,133800000000000000,200000,41000000000,None,IN,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5937824,83,8022588,1561404230,0X77876C36FE1C640F0DACB51B9374F89E3D291720,0X017F71ADB7883654B02874C807CC756F0FAB9964,100000000000000000,21000,20000000000,None,IN,...,False,False,False,False,False,False,False,False,False,False
5937825,156,8017759,1561339288,0X77876C36FE1C640F0DACB51B9374F89E3D291720,0X017F71ADB7883654B02874C807CC756F0FAB9964,100000000000000000,21000,20000000000,None,IN,...,False,False,False,False,False,False,False,False,False,False
5937826,158,8017712,1561338700,0X77876C36FE1C640F0DACB51B9374F89E3D291720,0X017F71ADB7883654B02874C807CC756F0FAB9964,1000000000000000,21000,20000000000,None,IN,...,False,False,False,False,False,False,False,False,False,False
5937827,164,8017637,1561337823,0X77876C36FE1C640F0DACB51B9374F89E3D291720,0X017F71ADB7883654B02874C807CC756F0FAB9964,50000000000000000,21000,20000000000,None,IN,...,False,False,False,False,False,False,False,False,False,False
5937828,170,8012949,1561274571,0X77876C36FE1C640F0DACB51B9374F89E3D291720,0X017F71ADB7883654B02874C807CC756F0FAB9964,50000000000000000,21000,20000000000,None,IN,...,False,False,False,False,False,False,False,False,False,False

In [24]:
sql = 'With toDexTransactions As ' \
      '(Select a.* ' \
      'From df a, dfDex b ' \
      'Where a.toAddress = b.DEX_Address or a.fromAddress) ' \
      'Select fromAddress, count(*) as cnt_DexTx, ' \
      'SUM(CASE WHEN IN_OUT = 1 THEN IN_OUT * value / 1000000000000000000 END) as totalDex_IN_ETH, ' \
      'SUM(CASE WHEN IN_OUT = -1 THEN IN_OUT * value / 1000000000000000000 END) as totalDex_OUT_ETH, ' \
      'SUM(IN_OUT * value / 1000000000000000000 as totalDex_DIFF_ETH, ' \
      'max(value / 1000000000000000000) as maxDex_OUT_ETH, {0} ' \
      'From toDexTransactions ' \
      'Group by fromAddress ' \
      'Order By totalDexOut_ETH desc'.format(sumCaseWhenStatement)
#sql = 'Select * from df where LENGTH(r_fromAddress) > 0'
sql

'With toDexTransactions As (Select a.* From df a Inner Join dfDex b On a.toAddress = b.DEX_Address) Select fromAddress, count(*) as cnt_DexTx, sum(value / 1000000000000000000) as totalDex_ETH, max(value / 1000000000000000000) as maxDexOut_ETH, SUM(CASE WHEN UNISWAP_IN = 1 THEN 1 ELSE 0 END) AS SUM_UNISWAP_IN, SUM(CASE WHEN UNISWAP_OUT = 1 THEN 1 ELSE 0 END) AS SUM_UNISWAP_OUT, SUM(CASE WHEN ONE_INCH_IN = 1 THEN 1 ELSE 0 END) AS SUM_ONE_INCH_IN, SUM(CASE WHEN ONE_INCH_OUT = 1 THEN 1 ELSE 0 END) AS SUM_ONE_INCH_OUT, SUM(CASE WHEN BALANCER_IN = 1 THEN 1 ELSE 0 END) AS SUM_BALANCER_IN, SUM(CASE WHEN BALANCER_OUT = 1 THEN 1 ELSE 0 END) AS SUM_BALANCER_OUT, SUM(CASE WHEN AIRSWAP_IN = 1 THEN 1 ELSE 0 END) AS SUM_AIRSWAP_IN, SUM(CASE WHEN AIRSWAP_OUT = 1 THEN 1 ELSE 0 END) AS SUM_AIRSWAP_OUT, SUM(CASE WHEN BINANCE_IN = 1 THEN 1 ELSE 0 END) AS SUM_BINANCE_IN, SUM(CASE WHEN BINANCE_OUT = 1 THEN 1 ELSE 0 END) AS SUM_BINANCE_OUT, SUM(CASE WHEN COMPOUND_IN = 1 THEN 1 ELSE 0 END) AS SUM_COMPOUND_IN, SUM(CASE WHEN COMPOUND_OUT = 1 THEN 1 ELSE 0 END) AS SUM_COMPOUND_OUT, SUM(CASE WHEN ALLBIT2_IN = 1 THEN 1 ELSE 0 END) AS SUM_ALLBIT2_IN, SUM(CASE WHEN ALLBIT2_OUT = 1 THEN 1 ELSE 0 END) AS SUM_ALLBIT2_OUT, SUM(CASE WHEN PANCAKESWAP_FINANCE_IN = 1 THEN 1 ELSE 0 END) AS SUM_PANCAKESWAP_FINANCE_IN, SUM(CASE WHEN PANCAKESWAP_FINANCE_OUT = 1 THEN 1 ELSE 0 END) AS SUM_PANCAKESWAP_FINANCE_OUT From toDexTransactions Group by fromAddress Order By totalDexOut_ETH desc'

In [22]:
result = psql.sqldf(sql)

In [23]:
result.to_csv(r"export/CUSTOMER_DEX_ANALYSIS.csv")

In [ ]:
sql = 'Select a.* ' \
      'From transactionsFromUsersDex a ' \
      'Inner Join dfDex b On a.toAddress = b.DEX_Address '
psql.sqldf(sql)